.paginado{
    display: flex;
    flex-direction: row;
}

.btn{
  display: flex;
  width: 20px;
  height: 20px;
  color: #090909;
  padding: 08px;
  margin: 04px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0px;
  background: rgb(232, 230, 230);
  border: 1px solid #000000;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
border: 1px solid white;
}